.desktop {
  display: none;
}
header {
  padding: 20px 0;
}
.container {
  padding: 40px 0;
}
.wrap-section {
  padding: 10px;
}
.wrap-introduce {
  display: flex;
  flex-direction: column-reverse;
}
.introduce-photo,
.introduce-photo > img {
  width: 292px;
  height: 292px;
}
.introduce-desc {
  text-align: center;
  padding-top: 20px;
}
.introduce-desc > p {
  font-size: 28px;
  line-height: 46px;
}
.desc-name {
  display: inline-block;
}
/* wrap-techstack 영역 */
.wrap-techstack p {
  text-align: center;
}
p.desc {
  padding-bottom: 40px;
}

.tech-icons img {
  width: 80px;
  height: auto;
}
/* footer */
.footer-nav {
  display: none;
}
.footer-bottom {
  justify-content: center;
}
.designed {
  text-align: center;
}
.bottom-contact {
  flex-direction: column;
  gap: 8px;
}
.bottom-contact span {
  padding: 0 10px;
}
br {
  display: block;
}
.introduce-photo > img.sunglasses.on {
  visibility: visible;
  width: 200px;
  height: auto;
  top: 95px;
  left: auto;
  rotate: -5deg;
}
.menu-mob {
  display: block;
}
.menu-mob > li {
  padding-right: 10px;
}
.menu-pc {
  display: none;
}
