html {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  outline: none;
  color: #666666;
}
a:hover,
a:active {
  text-decoration: none;
}
ul {
  margin: 0;
}
body {
  /* 반응형은 추후 추가 */
  min-width: 760px;
}
/* header design */
header {
  padding: 41px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.wrap-section {
  padding-top: 40px;
}
.container {
  padding: 85px 0;
}
.header-nav {
  color: #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}
.header-nav > ul > li {
  padding: 0px 10px;
}
.contact-list > li {
  padding: 0px 6px;
}
ul li {
  display: inline-block;
}
/* container 1 introduce */
.wrap-introduce {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.introduce-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 300px;
  width: 349px;
  height: 349px;
  background: linear-gradient(#e70faa, #00c0fd);
  padding: 8px;
}
.introduce-photo > img {
  object-fit: cover;
  border-radius: 300px;
  width: 349px;
  height: 349px;
}

.introduce-desc > p {
  font-size: 38px;
  line-height: 30px;
  font-weight: 700;
}
/* container 2 tech */
.wrap-techstack,
.wrap-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  color: #42446e;
}
p.desc {
  font-size: 24px;
  color: #666666;
}
.tech-icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* container 3 project */
.project-list {
  display: grid;
  grid-gap: 48px 60px;
  grid-template-columns: repeat(3, 1fr);
}
.project-item {
  width: 375px;
  height: 570px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px 8px #c9c9c9;
}

.item-img-box {
  height: 260px;
}
.item-img {
  width: 100%;
  /* height: 260px; */
}
.item-info {
  box-sizing: border-box;
  height: 310px;
  padding: 28px;
}
.info-title {
  font-size: 26px;
  line-height: 26px;
}
.info-desc {
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  font-weight: 300;
  padding: 12px 0;
}
.info-tech {
  font-size: 14px;
  line-height: 26px;
  color: #666666;
  font-weight: 300;
}
.info-bold {
  font-weight: 500;
}
.info-links {
  display: flex;
  justify-content: space-between;
}
.info-links img {
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  padding-right: 8px;
}
.links-item {
  padding-right: 20px;
}
.info-top {
  height: 225px;
  padding-bottom: 10px;
}
