:root,
:root[data-theme="light"] {
  --font-normal: #666666;
  --font-title: #42446e;
  --bg-color: white;
  --font-menu: #000000;
  --shadow-color: #c9c9c9;
  --bg-project-item: white;
}

:root[data-theme="dark"] {
  --font-normal: rgb(167, 167, 167);
  --font-title: #ebebeb;
  --bg-color: radial-gradient(#111b27, #091d2e);
  --font-menu: #ffffff;
  --shadow-color: rgb(0, 0, 0, 0.2);
  --bg-project-item: white;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0 auto;
  max-width: 1228px;
  padding: 0 20px;
  background: var(--bg-color);
  transition: all 0.5s ease;
  background-size: 400%;
  animation: Gradient 3s ease infinite;
  color: var(--font-menu);
}

p {
  padding: 0;
  margin: 0;
}
.logo img {
  width: 90px;
  padding-top: 6px;
}
.container-duck {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 10px;
}
.duck {
  width: 70px;
}
.duck-hover {
  display: none;
  position: absolute;
  top: -80px;
  left: -60px;
}
.speech-bubble {
  width: 100px;

  top: -80px;
  left: -60px;
}
.duck-hover span {
  position: relative;
  z-index: 1;
  width: 80px;
  top: 48px;
  left: 12px;
  color: #000000;
}

.container-duck:hover .duck-hover {
  display: block;
}
a {
  text-decoration: none;
  outline: none;
  color: var(--font-normal);
}
a:hover,
a:active {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
/* header design */
header {
  padding: 41px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-section {
  padding-top: 40px;
}
.container {
  padding: 85px 0;
}
.header-nav {
  color: var(--font-normal);
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;
}
.header-nav > ul > li {
  padding: 0px 10px;
}
.contact-list > li {
  padding: 0px 6px;
}
ul li {
  display: inline-block;
}
/* container 1 introduce */
.wrap-introduce {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introduce-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  border-radius: 300px;
  width: 349px;
  height: 349px;
  background: linear-gradient(-45deg, #e70faa, #00c0fd);
  background-size: 400%;
  animation: Gradient 5s ease infinite;
  padding: 8px;
}
.introduce-photo > img {
  object-fit: cover;
  border-radius: 300px;
  width: 349px;
  height: 349px;
}

.introduce-desc > p {
  font-size: 58px;
  line-height: 70px;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--font-title);
}
p.gray {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: Gradient 5s ease infinite;
}
/* container 2 tech */
.wrap-techstack,
.wrap-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-techstack {
  padding-bottom: 30px;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  color: var(--font-title);
}
p.desc {
  font-size: 24px;
  color: var(--font-normal);
  padding-bottom: 160px;
}
p.desc.projects {
  padding-bottom: 96px;
}
.tech-icons {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
}
/* container 3 project */
.project-list {
  display: grid;
  grid-gap: 48px 60px;
  grid-template-columns: repeat(3, 1fr);
}
.project-item {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 0px 0px 30px 8px var(--shadow-color);
  overflow: hidden;
  background: #ffffff;
}

.item-img-box {
  /* height: 40%; */
  overflow: hidden;
}
.item-img {
  width: 100%;
  /* height: 260px; */
}
.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  /* height: 60%; */
  padding: 28px;
}
.info-title {
  font-size: 26px;
  line-height: 26px;
  color: #000000;
}
.info-desc {
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  font-weight: 300;
  padding: 12px 0;
}
.info-tech {
  font-size: 14px;
  line-height: 26px;
  color: #666666;
  font-weight: 300;
}
.info-bold {
  font-weight: 500;
}
.info-links {
  display: flex;
  justify-content: space-between;
}
.info-links img {
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  padding-right: 8px;
}
.links-item {
  padding-right: 20px;
}
.info-top {
  height: 225px;
  padding-bottom: 10px;
}
/* footer */
footer {
  margin: auto;
  padding-bottom: 40px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.bottom-contact {
  display: flex;
  align-items: center;
}
.bottom-contact span {
  padding: 0px 30px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: var(--font-normal);
}
.footer-nav > ul > li {
  padding: 0 10px;
}
span.purple {
  color: #9b0093;
}
span.pink {
  color: #cb26c3;
}

@keyframes Gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* grid 반응형 대응 */
@media (max-width: 1240px) {
  .project-list {
    /*   grid-gap: 48px 60px; */
    grid-gap: 16px 24px;
  }
  .tech-icons {
    /*   grid-gap: 60px; */
    grid-gap: 24px;
  }
}
@media (max-width: 1120px) {
  .tech-icons {
    grid-gap: 48px 60px;
    grid-template-columns: repeat(4, 1fr);
    /*   grid-gap: 60px; */
  }
  .links-item span {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px 60px;
  }
  .tech-icons {
    /*   grid-gap: 60px; */
  }
}

@media (max-width: 768px) {
  .project-list {
    /*   grid-gap: 48px 60px; */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 48px 60px;
  }
  .tech-icons {
    grid-gap: 48px 60px;
    grid-template-columns: repeat(3, 1fr);
    /*   grid-gap: 60px; */
  }
}

@media (max-width: 480px) {
  .project-list {
    /*   grid-gap: 48px 60px; */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px 30px;
  }
  .tech-icons {
    grid-gap: 48px 60px;
    grid-template-columns: repeat(2, 1fr);
    /*   grid-gap: 60px; */
  }
}
